.menuBar {
  /* padding: 1rem; */
  background: #f8f8f8;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 0;
}

.tabs li {
  height: 50%;
  font-size: 1.2em;
  font-weight: bold;
  display: inline-block;
  color: #efefef;
  border-style: groove;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: #7189c8;
  margin-left: 5px;
}

.tabs li.active {
  background-color: #7189c8;
  border-style: ridge;
  border-bottom: #7189c8;
}
