.itemBox {
  /* position: relative; */
  font-size: 1.25em;
}

.item {
  /* position: relative; */
  display: grid;
  grid-template-columns: 33% 34% 34%;
}

.part {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.background {
  background-color: #edf2fe;
  border-radius: 5px;
  margin-left: 1em;
  margin-right: 1em;
}

.part:nth-child(1) {
  border-style: solid;
  border-width: 1px;
  border-color: lightslategray;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}

.part img {
  width: 2em;
  margin: auto;
  display: block;
}

.buy {
  color: #de5257;
}

.sell {
  color: #2272eb;
}

.titleBox {
  /* background-color: black;
  color: white; */
  padding: 0.5em;
  border-radius: 5px;
  display: inline-block;
  font-size: 1.75em;
}


