.app-header {
  height: 60px;
  display: grid;
  grid-template-columns: 20% 10% 10% 30% 40%;
}

.item {
  background-color: #edf2fe;
  height: 60px;
  text-align: center;
  padding-top: 1em;
}

.logo {
  height: 60px;
}

.active {
  color: #cccccc;
}
