.app-header {
  height: 60px;
  display: grid;
  grid-template-columns: 20% 10% 10% 30% 40%;
}

.item {
  background-color: #edf2fe;
  text-align: center;
}

.itemText {
  background-color: #edf2fe;
  text-align: center;
  padding: 1em;
  font-size: 1.75em;
}

.logo {
  height: 5em;
}

.active {
  color: #cccccc;
}
